<div class="container">
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <h1 class='text-center'>Privacy Policy</h1>
        <br>
        <p>At Browser Bot, (“Browser Bot”), we recognize the importance of privacy and are committed to maintaining the accuracy, confidentiality and security of your personal information. This Privacy Policy describes the personal information that Browser Bot collects from you, how we manage that personal information and what may happen to that personal information. Browser Bot is responsible for the personal information that we collect and store.</p>
        <h3>What is Personal Information?</h3>
        Personal information is any information about an identifiable individual, other than the person’s business title or business contact information (such as business phone number and business address). Personal information does not include anonymous or non-personal information (i.e., information that cannot be associated with or tracked back to a specific individual).
        <h3>What Personal Information do we collect?</h3>
        <p>We don't collect and maintain any types of personal information about individuals with whom we interact either through our site or our messaging bots.</p>
        <p>The only piece of information we store regarding our users is their app specific Facebook ID which we use to identify users on our Facebook Messenger bot. This ID also helps us send messages to our users</p>
        <p>As a general rule, Browser Bot collects your personal information directly from you and will not collect personal information about you from a third party without your consent.</p>
        <h3>How do we use your Personal Information?</h3>
        <p>We will not, without your consent, use your personal information for any purpose other than as described in this Privacy Policy, except where permitted or required by applicable law or regulatory requirements. We use your personal information to provide you with information, materials and services available from our website or bots, to assist you with customer service or technical support issues, or to otherwise support your customer relationship with Browser Bot. We use your personal information to respond to requests for information and to periodically keep you informed and up to date on Browser Bot activities and products.</p>
        <h3>When do we disclose your Personal Information?</h3>
        <p>Browser Bot does not sell your personal information to any third party.</p>
        <p>In addition, Browser Bot will not otherwise disclose your personal information for purposes other than those for which it was collected, except as may be permitted or required by law, or with your consent.</p>
        <h3>Consent</h3>
        <p>It is important to us that we only collect, use or disclose your personal information which is not publicly available, where we have your consent to do so. Depending on the sensitivity of the personal information, your consent may be implied, deemed (using an opt-out mechanism) or express. Express consent can be given orally, electronically or in writing. Implied consent is consent that can reasonably be inferred from your action or inaction.</p>
        <p>Typically, we will seek your consent at the time that we collect the personal information. In certain circumstances, your consent may be obtained after collection but prior to its use or disclosure. If we plan to use or disclose your personal information for a purpose not previously identified, we will advise you of this purpose before such use or disclosure.</p>
        <p>You may change or withdraw your consent at any time, subject to legal or contractual restrictions and reasonable notice, by contacting Browser Bot. In some circumstances, a change in or withdrawal of consent may severely limit our ability to provide products or services to you.</p>
        <h3>Choice/Opt-Out</h3>
        <p>Unless you advise us otherwise, by receiving this Privacy Policy you are deemed to have given your consent to the collection, use and disclosure of your personal information for the purposes explained in this Privacy Policy. If you do not wish your personal information to be shared, please opt out as described above.</p>
        <h3>How is your Personal Information protected?</h3>
        <p>Browser Bot maintains physical, electronic and procedural safeguards that are appropriate to the sensitivity of your personal information. These safeguards are designed to prevent your personal information from loss and unauthorized access, modification or disclosure.</p>
        <h3>Browser Bot’s website</h3>
        <p>When you visit the Browser Bot website, registration is not a precondition to access. We won't track you with cookies or ask for your personal information</p>
        <p>Non-personal information, such as the name of the domain from which you access the Internet, the dates and times you access our website and the Internet address of the website from which you may be linking directly to our website, is collected and used to determine the volume of traffic on our website. This information also enables us to identify ways in which our website can be improved to serve you better.</p>
        <p>The security of personal information is a high priority at Browser Bot. We maintain this website and all associated data with technical, administrative and physical safeguards to protect against loss, unauthorized access, misuse, modification and improper disclosure. All underlying machines and firewalls at network access points have restricted access. While no computer system can ever be fully protected against every possible hazard, we provide reasonable and appropriate security controls to protect our website and its information.</p>
        <p>Our website contains links to other websites that may be subject to less stringent privacy standards. Browser Bot cannot assume any responsibility for the privacy practices, policies or actions of the third parties that operate these websites. You should review the privacy policies of these websites before providing them with personal information.</p>
        <p>By using our website and bots, you signify your consent to the contents of the Browser Bot Privacy Policy.</p>
        <p>——————————————————————————–</p>
        <h3>Inquiries, concerns and requests for access</h3>
        <p>If you have any questions about this Privacy Policy or to access your personal information, please contact the office. Please note that all requests to access personal information must be in writing or by e-mail.</p>
        Browser Bot, Nairobi, Kenya
        Revisions to this Privacy Policy
        Browser Bot may from time to time make changes to this Privacy Policy to reflect changes in its legal or regulatory obligations or enhancements to the manner in which we deal with your personal information. We will post any revised version of this Privacy Policy on our website, and we encourage you to refer back to it on a regular basis. Any changes to this Privacy Policy will be effective from the time they are posted.
        This Privacy Policy was last updated on 03 March 2018.
      </div>
    </div>
</div>
