<!DOCTYPE html>
<html>
<head>
  <title>Browser Bot - Free Conversational Internet Browsing Bot</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <link href="/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
  <!-- Facebook Chat Plugin -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : <%= Rails.application.secrets.fb_app_id %>,
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.12'
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-customerchat"
    page_id="389192321508619"
    logged_in_greeting="Welcome to Browser Bot. I will help you browse the web & find answers for you."
    logged_out_greeting="Welcome to Browser Bot. I will help you browse the web & find answers for you."
  >
  </div>
  <!-- Facebook Chat Plugin -->

  <!-- header -->
  <div class="header" id="home">
    <div class="content white">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">
              <h1>Browser Bot</h1>
            </a>
          </div>
          <!--/.navbar-header-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#why">Internet.org</a></li>
              </ul>
            </nav>
          </div>
          <!--/.navbar-collapse-->
          <!--/.navbar-->
        </div>
      </nav>
    </div>
  </div>
  <!-- //header -->

  <%= yield %>

<!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="text-center">
        Built by <a href="http://www.muaad.me" style="font-weight: bold; color: #4A82BE;" target="_blank">Muaad Abdirahman</a>. Find me on Twitter at: <a href="https://twitter.com/MuaadAM" style="font-weight: bold; color: #4A82BE;" target="_blank">@MuaadAM</a>. | <a href="/privacy" style="font-weight: bold; color: #4A82BE;">Privacy Policy</a>
      </div>
    </div>
  </div>
</body>
</html>